.container .btn.btn-primary {
    background-color: #007bff;
    border-color: #000000;
    
}

.container .btn.btn-secondary {
    background-color: #6c757d;
    border-color: #000000;
    margin-left: 50px;
}