.container .btn.btn-primary {
    background-color: #007bff;
    border-color: #000000;
    
}

.container .btn.btn-secondary {
    background-color: #6c757d;
    border-color: #000000;
    margin-left: 50px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-controls span {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 5px;
}