<div class="container">
    <h2>Listado de customer</h2>
    <a class="btn btn-primary" routerLink="/customers/add">crear customer</a>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombres</th>
        <th scope="col">Email</th>
        <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = " let c of customers ">
        <th scope="row">{{ c.id }}</th>
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
        <td><button class="btn btn-danger" (click)="deleteCustomer(c.id)">Eliminar</button></td>
        </tr>
    </tbody>
    </table>
</div>